<section class="customers section" id="customers">
  <div class="container customers-container">
    <h2 class="customers-title">What our Customers Say</h2>
    <p class="customers-dscr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <div class="customers-global-box">
      <!--* box 1 -->
      <div class="customers-box">
        <div class="stars-wrap">
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <h3 class="customers-box-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </h3>
        <div class="customers-user-wrap">
          <img
            class="customers-user-img"
            src="../img/customers-mob-user1-1x.jpg"
            srcset="
              ../img/customers-mob-user1-1x.jpg 1x,
              ../img/customers-mob-user1-2x.jpg 2x
            "
            alt="Фото користувача"
          />
          <ul class="customers-name-list">
            <li class="customers-name-item">Sumith Shah</li>
            <li class="customers-position-item">Some Dude</li>
          </ul>
        </div>
      </div>

      <!--* box 2 -->
      <div class="customers-box">
        <div class="stars-wrap">
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
          <svg class="customers-svg" width="17" height="17">
            <use class="customers-use" href="../img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <h3 class="customers-box-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </h3>
        <div class="customers-user-wrap">
          <img
            class="customers-user-img"
            src="../img/customers-mob-user2-1x.jpg"
            srcset="
              ../img/customers-mob-user2-1x.jpg 1x,
              ../img/customers-mob-user2-2x.jpg 2x
            "
            alt="Фото користувача"
          />
          <ul class="customers-name-list">
            <li class="customers-name-item">Sumith Shah</li>
            <li class="customers-position-item">Some Dude</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
