<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/favorites.css" />
  </head>
  <body>
    <div class="container favorites-container">
      <h2 class="favorites-title">Some of Our Favorites</h2>
      <p class="favorites-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <ul class="favorites-list">
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-gamburger-mob-1px.png 1x,
                  ../img/favorites-gamburger-mob-2px.png 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ../img/favorites-gamburger-tab-1px.png 1x,
                  ../img/favorites-gamburger-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)"
              />
              <source
                srcset="
                  ../img/favorites-gamburger-desctop-1px.png 1x,
                  ../img/favorites-gamburger-desctop-2px.png 2x
                "
                media="(min-width: 1280px)"
              />

              <img
                class="favorites-img"
                src="../img/favorites-gamburger-desctop-1px.png"
                alt="gamburger"
                width="223"
                height="223"
              />
            </picture>
          </div>
        </li>
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-pasta-mob-1px.png 1x,
                  ../img/favorites-pasta-mob-2px.png 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ../img/favorites-pasta-tab-1px.png 1x,
                  ../img/favorites-pasta-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)" />
              <source
                srcset="
                  ../img/favorites-pasta-desctop-1px.png 1x,
                  ../img/favorites-pasta-desctop-2px.png 2x
                "
                media="(min-width: 1280px)" />
              <img
                class="favorites-img"
                src="../img/favorites-pasta-desctop-1px.png"
                alt="pasta with tomatoes and spinach"
                width="223"
                height="223"
            /></picture>
          </div>
        </li>
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-pizza-mob-1px.png 1x,
                  ../img/favorites-pizza-mob-2px.png 2x
                "
                media="(max-width: 767px)" />
              <source
                srcset="
                  ../img/favorites-pizza-tab-1px.png 1x,
                  ../img/favorites-pizza-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)" />
              <source
                srcset="
                  ../img/favorites-pizza-desctop-1px.png 1x,
                  ../img/favorites-pizza-desctop-2px.png 2x
                "
                media="(min-width: 1280px)" />
              <img
                class="favorites-img"
                src="../img/favorites-pizza-desctop-1px.png"
                alt="pizza with sausage, mushrooms, sweet peppers, olives, cheese and spinach"
                width="223"
                height="223"
            /></picture>
          </div>
        </li>
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-chicken-tab-1px.png 1x,
                  ../img/favorites-chicken-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)" />
              <source
                srcset="
                  ../img/favorites-chicken-desctop-1px.png 1x,
                  ../img/favorites-chicken-desctop-2px.png 2x
                "
                media="(min-width: 1280px)" />
              <img
                class="favorites-img"
                src="../img/favorites-chicken-desctop-1px.png"
                alt="rice with chicken and spices"
                width="223"
                height="223"
            /></picture>
          </div>
        </li>
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-salat-tab-1px.png 1x,
                  ../img/favorites-salat-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)" />
              <source
                srcset="
                  ../img/favorites-salat-desctop-1px.png 1x,
                  ../img/favorites-salat-desctop-2px.png 2x
                "
                media="(min-width: 1280px)" />

              <img
                class="favorites-img"
                src="../img/favorites-salat-desctop-1px.png"
                alt="
lettuce, tomatoes, onions and red fish"
                width="223"
                height="223"
            /></picture>
          </div>
        </li>
        <li class="favorites-item-img">
          <div class="favorites-img-container">
            <picture>
              <source
                srcset="
                  ../img/favorites-borshch-tab-1px.png 1x,
                  ../img/favorites-borshch-tab-2px.png 2x
                "
                media="(min-width: 768px) and (max-width: 1279px)" />
              <source
                srcset="
                  ../img/favorites-borshch-desctop-1px.png 1x,
                  ../img/favorites-borshch-desctop-2px.png 2x
                "
                media="(min-width: 1280px)" />
              <img
                src="../img/favorites-borshch-desctop-1px.png"
                alt="red borshch with meat and herbs"
                width="223"
                height="223"
            /></picture>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
