/* ------------------MOB---------------- */

.favorites-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.favorites-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.favorites-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #2c2c2c;
  margin-bottom: 60px;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.favorites-item-img {
  width: 223;
  height: 223;
}

.favorites-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 11px solid #ffe550;
  border-radius: 50%;
  background-color: #fefefe;
  width: 280px;
  height: 282px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorites-img-container:hover,
.favorites-img-container:focus {
  border: 14px solid #bbf330;
}

/* ------------------TAB---------------- */

@media screen and (min-width: 768px) {
    .favorites-container {
            margin-top: 100px;
            margin-bottom: 100px;
        }
  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .favorites-title {
    font-size: 42px;
  }

  .favorites-text {
    font-size: 16px;
  }
}

/* ------------------DESCTOP---------------- */

@media screen and (min-width: 1280px) {
    favorites-text {
            margin-bottom: 40px;
        }
}
