.offers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-image-container {
  margin-bottom: 17px;
}
.offers-image {
  min-width: 280px;
  min-height: 78px;
}

.offers-header {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 20px;
  min-width: 280px;
}

.offers-text {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  margin-bottom: 40px;
}

.offers-interact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offers-input {
  background-color: #fff;
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 12px 11px;
  width: 279px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.offers-button {
  border-radius: 30px;
  padding: 11px 22px;
  width: 103px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  align-self: flex-end;
}
/*-----------Tablet---------  */
@media screen and (min-width: 768px) {
  .offers-container {
    align-items: flex-start;
  }
  .offers-image-container {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  .offers-text-container {
    max-width: 656px;
  }
  .offers-header {
    font-size: 42px;
  }
  .offers-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  .offers-interact {
    flex-direction: row;
    gap: 24px;
  }
  .offers-input {
    width: 394px;
  }
  .offers-button {
    align-self: flex-start;
  }
}
/*-----------Desktop---------  */
@media screen and (min-width: 1200px) {
  .offers-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .offers-interact {
    gap: 24px;
  }
  .offers-input {
    width: 395px;
  }
  .offers-button {
  }
}
