/* Common styles */
@import url('./container.css');
@import url('./reset.css');
@import url('./base.css');
/* Sections style */
@import url('./header.css');
@import url('./enjoy.css');
@import url('./special.css');
@import url('./favorites.css');
@import url('./customers.css');
@import url('./offers.css');
@import url('./footer.css');
